$shadow-modal: 0px 8px 16px 4px #2000541f;
$shadow-default: 0px 0px 0px 2px #f0f0ff;

$skeleton-color: linear-gradient(
  89.91deg,
  rgba(240, 240, 240, 0.03) 0%,
  #f0f0f0 36.82%,
  rgba(240, 240, 240, 0.56) 102.29%
);
