//Отступы
$space-3xs: 2px;
$space-2xs: 4px;
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;
$space-2xl: 48px;

//Скругления
$border-radius-s: 4px;
$border-radius-m: 6px;
$border-radius-l: 8px;
